@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  text-align: center;
  @apply bg-bg-color-light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  @apply accent-primary-color;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
th,
td {
  padding: 0 0 0 5px;
}

// custom tailwind classes
.layout {
  @apply flex flex-col mx-auto h-screen max-w-[1400px] min-w-[320px];
}
.form-container {
  @apply w-5/6 px-2 py-4 mt-10 bg-bg-color-light rounded-2xl text-primary-color shadow-md;
}

.fieldset-container {
  @apply grow text-left p-2 mb-4;
}

.input-container {
  @apply before:table after:table after:clear-both relative my-2;
}

.input-field {
  @apply pl-8  rounded h-8 w-full text-black;
}

.input-icon {
  @apply block absolute top-1 left-2;
}
