@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  text-align: center;
  @apply bg-bg-color-light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  @apply accent-primary-color;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
th,
td {
  padding: 0 0 0 5px;
}

// custom tailwind classes
.layout {
  @apply flex flex-col mx-auto h-screen max-w-[1400px] min-w-[320px];
}
.form-container {
  @apply w-5/6 px-2 py-4 mt-10 bg-bg-color-light rounded-2xl text-primary-color shadow-md;
}

.fieldset-container {
  @apply grow text-left p-2 mb-4;
}

.input-container {
  @apply before:table after:table after:clear-both relative my-2;
}

.input-field {
  @apply pl-8  rounded h-8 w-full text-black;
}

.input-icon {
  @apply block absolute top-1 left-2;
}

.loader {
  @apply text-secondary-color;
  width: 40px;
  height: 20px;
  background: currentColor;
  border-radius: 50% 50% 0 0;
  position: relative;
  display: block;
  margin: 60px auto 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}
.p-loader {
  @apply text-secondary-color;
  font-size: 1.7em;
  margin: 0;
}
.loader::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: currentColor;
  top: -34px;
  box-sizing: border-box;
  animation: animloader1 2s linear infinite;
}
@keyframes animloader1 {
  0% {
    box-shadow: 0 0 0 -2px, 0 0 0 -2px, 0 0 0 -5px, 0 0 0 -5px;
  }
  20% {
    box-shadow: 40px 2px 0 -2px, 0 0 0 -2px, 40px 2px 0 -5px, 0 0 0 -5px;
  }
  40% {
    box-shadow: 40px 2px 0 -2px, -40px 2px 0 -2px, 40px 2px 0 -5px,
      -40px 2px 0 -5px;
  }
  60% {
    box-shadow: 40px 2px 0 -2px, -40px 2px 0 -2px, 23px -23px 0 -5px,
      -40px 2px 0 -5px;
  }
  80%,
  95% {
    box-shadow: 40px 2px 0 -2px, -40px 2px 0 -2px, 23px -23px 0 -5px,
      -23px -23px 0 -5px;
  }
  100% {
    box-shadow: 40px 2px 0 -2px rgba(255, 255, 255, 0),
      -40px 2px 0 -2px rgba(255, 255, 255, 0),
      23px -23px 0 -5px rgba(255, 255, 255, 0),
      -23px -23px 0 -5px rgba(255, 255, 255, 0);
  }
}
