// @import 'colors.modules.scss';

.home-logo-img {
  border-radius: 25% 2% 25% 2%;
  // box-shadow: 10px 5px 25px 0 $bg-color-light;
  @apply shadow-[10px_5px_25px_0] shadow-bg-color-light;
  margin: 0 auto 3em auto;
}

.btn,
.btn-icon {
  // color: $really-dark;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  line-height: 2em;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  align-content: center;
  letter-spacing: 0;
}

.btn:hover,
.btn:active,
.btn-icon:hover,
.btn-icon:active {
  @apply text-clear-text;
  @apply bg-tertiary-color;
  border-radius: 5px;
  @apply shadow-[0_0_10px_2px] shadow-primary-color;
}
.button {
  place-content: center;
  color: #fff;
  font-size: 1rem;
  padding: 0.5em 1em;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  @apply bg-secondary-color;
  border: none;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  &:hover {
    background: #fff;
    @apply shadow-btn-light-blue shadow-[0_2px_10px_5px];
    color: #000;
  }
}
.fa-small {
  font-size: 1rem;
}
